@media screen and (max-width: 768px) {
  .result-container {
    width: 100%;
    padding: 0 20px 20px 20px;
  }

  .result-box {
    background-color: var(--white);
    width: 90%;
    height: 145px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .original-link {
    color: var(--very-dark-violet);
    padding: 15px 10px 10px 15px;
    border-bottom: 1;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid var(--gray);
  }

  .shortened-link {
    color: var(--cyan);
    padding: 15px 10px 10px 15px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
  }

  .copy {
    width: 90%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .copy.copied {
    background-color: var(--dark-violet);
  }
}
